// Compass includes
@import 'compass/reset';
@import 'compass';

// Semantic, fluid grid
@import 'grid';

html, body {

    height: 100%;
    width: 100%;
    font-size: 16px;
}

$color-grey-dark: rgb(51, 51, 51);

/* ------------------------------------------------------------ */
/* ----- TYPE ------------------------------------------------- */
/* ------------------------------------------------------------ */

%heading {
    margin-bottom: 0.5em;
    font-family: "raleway", serif;
    font-weight: 100;

    color: $color-grey-dark;
}

%paragraph {
    font-family: "jaf-facitweb", serif;
    font-weight: 200;
    font-size: 1em;
    line-height: 1.5em;

    margin-bottom: 1em;

    color: $color-grey-dark;
}

p {
    @extend %paragraph;
}

.standfirst {
    @extend %heading;
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    width: 100%;

    font-size: 4.7em;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .standfirst {
        margin-top: -1em;
    }
}

/* ------------------------------------------------------------ */
/* ----- PAGE LAYOUT ------------------------------------------ */
/* ------------------------------------------------------------ */

.container {
    @include clearfix;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 680px) {
    .container {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.site {
    width: 100%;
    height: 100%;
}

.page {
    @include clearfix;
    position: relative;
    min-height: 100%;

    @include transition(background 600ms);
}

/* ----- ABOUT ME --------------------------------------------- */

.page--about {}

.page--about p {
    width: 100%;
    text-align: center;
}

.about__photo {

    width: 180px;
    margin: 0 auto 20px;
    overflow: visible;
    
    img {

        display: block;
        width: 100%;
        height: auto;
        @include border-radius(50%);
        @include transition(all 350ms);
        @include scale(0, 0);
        @include opacity(0);
    }

    .been-active & {

        img {
            @include scale(0.8, 0.8);
            @include opacity(1);
        }
    }

    &:hover {

        img {
            @include scale(1, 1);
        }
    }
}

/* ----- WORK ------------------------------------------------- */

.page--work {}

.work {
    margin-top: 20px;
}

.work__image {
    @include column(4);
    @include push(2);

    img {
        width: 100%;
        height: auto;
    }
}

.work__details {
    @include column(4);
}

.work__title {
    @extend %heading;
    font-size: 2em;
}

@media screen and (max-width: 960px) {

    .work__image {
        @include column(5);
        @include push(1);
    }

    .work__details {
        @include column(5);
    }
}

@media screen and (max-width: 680px) {

    .work__image {
        @include column(6);
        @include push(0);
    }

    .work__details {
        @include column(6);
    }
}

@media screen and (max-width: 480px) {

    .work__image {
        @include column(12);
        margin-bottom: 20px;
    }

    .work__details {
        @include column(12);
    }
}

/* ----- CONTACT ---------------------------------------------- */

.page--contact {
    background: $color-grey-dark;
}